%table#orders.table.table-striped.table-bordered.display{cellspacing: "0", width: "100%"}
  %thead  
    %tr
      %th Дата
      %th Магазин
      %th Сумма продажи
      %th Позиции
      %th Поставщики
      %th Комментарии
      %th Тип оплаты
      %th
      %th
      %th
      
  %tbody      
    - @orders.each do |ord|
      %tr
        %td= ord.created_at.strftime("%d.%m.%Y  %H:%M")
        %td= ord.store
        %td= number_to_currency(ord.total, unit: "руб.", format: "%n %u")
        %td{style: "padding-left:20px"}
          - ord.order_items.each do |item|
            %li= item
        %td
          - ord.order_suppliers.each do |sup|
            %li{style: "list-style:none"}
              = sup                          
        %td= ord.comments
        %td= ord.payment_type
        %td= link_to 'Show', ord
        %td= link_to 'Edit', edit_order_path(ord)
        %td= link_to 'Destroy', ord, :method => :delete, :data => { :confirm => 'Are you sure?' }




