%h1 Listing orders

%table#orders.table.table-striped.table-bordered.display{cellspacing: "0", width: "100%"}
  %thead  
    %tr
      %th Comments
      %th Payment type
      %th Total
      %th Date
      %th
      %th
      %th
      
  %tbody      
    - @orders.each do |order|
      %tr
        %td= order.comments
        %td= order.payment_type
        %td= number_to_currency(order.total, unit: "руб.", format: "%n %u")
        %td= order.created_at.strftime("%d.%m.%Y  %H:%M")
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
