.cart  
  %p#notice= notice
  %h2 Оформление продажи
  = link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, @cart, method: :delete, data: {confirm: 'Все товарные позиции будут удалены из корзины! Продолжить?'}, class: "btn btn-default btn-xs"
  %table{width: "350px"}
    - @cart.cart_items.each do |i|
      %tr
        %td
          = i.quantity
          \×
        %td= i.item.title
        %td= "L-" + "#{i.item.lcode}"
        %td.item_price= number_to_currency(i.total_price, unit: "руб.", format: "%n %u")
        %td= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, i, method: :delete, class: "btn btn-default btn-xs", data: {confirm: "Удалить #{i.item.title}?"}

        -#%td= button_to 'Delete', i, method: :delete, data: {confirm: "Удалить #{i.item.title}?"}


    %tr.total_line
      %td{colspan: "3"} Total:
      %td.total_cell= number_to_currency(@cart.total_price, unit: "руб.", format: "%n %u")
        
      
  %br/  

 
  
     
  = link_to "<span class='glyphicon glyphicon-circle-arrow-left'></span>".html_safe, items_path, method: :get , class: "btn btn-default btn-lg"
  = button_to 'Оформить', new_order_path, method: :get
        