%p#notice= notice

%h2 Продажа №#
%ul
  - @cart.cart_items.each do |i|
    %li      
      = i.quantity
      \× #{i.item.title}
      = i.item.lcode
= button_to 'Очистить список товарныx позиций', @cart, method: :delete, data: {confirm: 'Все товарные позиции будут удалены из корзины! Продолжить?'}    
      