= form_for(@item, remote: true, html: {class: "form-horizontal", style: "display:inline"}) do |f|
  .modal-body 
    - if @item.errors.any?
      #error_explanation
        %h2
          = pluralize(@item.errors.count, "error")
          prohibited this item from being saved:
        %ul
          - @item.errors.full_messages.each do |message|
            %li= message
    .field
      = f.label :title    
      .field1= f.text_field :title
    .field
      = f.label :lcode
      .field1= f.number_field :lcode
    .field    
      = f.label :price
      .field1= f.number_field :price
    .field
      = f.label :image
      .field1= f.text_field :img_url
    .field
      = f.label :description
      %br/
      .field1= f.text_area :description, rows: 3, cols: 40

    
      #spisok1  
        %ul
          %li #{f.label :Поставщик}
          %li #{f.label :Вес}      
          %li #{f.label :'Закупка за кг ($)'}    
          %li #{f.label :'Закупка за кг (руб)'}  
          %li #{f.label :'Шиппинг за кг ($)'}    
          %li #{f.label :'Шиппинг за кг (руб)'}  
          %li #{f.label :'Закупка за обр ($)'}   
          %li #{f.label :'Закупка за обр (руб)'} 
          %li #{f.label :'Шиппинг за обр ($)'}   
          %li #{f.label :'Шиппинг за обр (руб)'} 
          %li #{f.label :'Себестоимость ($)'}    
          %li #{f.label :'Себестоимость (руб)'}  
          %li #{f.label :'Продажа (руб)'}        
          %li #{f.label :'Продажа обнал (руб)'} 

      #spisok2  
        %ul
          %li #{f.text_field :supplier_name, size: 5}
          %li #{f.text_field :weight, size: 5}
          %li #{f.text_field :purchase_kg_usd, size: 5}
          %li #{f.text_field :purchase_kg_rur, size: 5}
          %li #{f.text_field :shipping_kg_usd, size: 5}
          %li #{f.text_field :shipping_kg_rur, size: 5}
          %li #{f.text_field :purachse_per_item_usd, size: 5}
          %li #{f.text_field :purachse_per_item_rur, size: 5}
          %li #{f.text_field :shipping_per_item_usd, size: 5}
          %li #{f.text_field :shipping_per_item_rur, size: 5}
          %li #{f.text_field :self_cost_usd, size: 5}
          %li #{f.text_field :self_cost_rur, size: 5}
          %li #{f.text_field :sale_cost, size: 5}
          %li #{f.text_field :sale_cost_final, size: 5}
    
  .modal-footer  
    = f.submit id: "btn_ok"