%table	
	%thead
		%tr
			%th Поставщик
			%th Вес
			%th Закупка за кг ($)
			%th Закупка за кг (руб)
			%th Шиппинг за кг ($)
			%th Шиппинг за кг (руб)
			%th Закупка за обр ($)
			%th Закупка за обр (руб)
			%th Шиппинг за обр ($)
			%th Шиппинг за обр (руб)
			%th Себестоимость ($)
			%th Себестоимотсь (руб)
			%th Продажа (руб)
			%th Продажа обнал. (руб)
	%tbody
		%tr
			%td= @item.supplier_name
			%td= @item.weight
			%td= @item.purchase_kg_usd
			%td= @item.purchase_kg_rur
			%td= @item.shipping_kg_usd
			%td= @item.shipping_kg_rur
			%td= @item.purachse_per_item_usd
			%td= @item.purachse_per_item_rur
			%td= @item.shipping_per_item_usd
			%td= @item.shipping_per_item_rur
			%td= @item.self_cost_usd
			%td= @item.self_cost_rur
			%td= @item.sale_cost
			%td= @item.sale_cost_final
%br/