<h1>Listing items</h1>

<table id="items" class="display" cellspacing="0" width="100%">
<thead>
  <tr>
    <th width="70">L Code</th>
    <th>Title</th>
    <th>Price</th>
    <th width="70"></th>
  </tr>
</thead>
  
<tbody>
  <% @items.each do |item| %>
    <tr>

        <td align="right"><%= item.lcode %></td>       
       
        <td class="list_description">
         <dl>
           <dt><%= item.title %></dt>
           <dd><%= truncate(strip_tags(item.description), length: 80) %></dd>
         </dl>
        </td>

        <td><%= item.price %></td>

        <td align="center">                
          <%= link_to '<i class="ui-icon ui-icon-search"></i>'.html_safe, item %>
          <%#= link_to '<i class="ui-icon ui-icon-gear"></i>'.html_safe, edit_item_path(item) %>
          <%#= link_to '<i class="ui-icon ui-icon-trash"></i>'.html_safe, item, method: :delete, data: { confirm: "Delete #{item.title}?" } %>
                
        </td> 
    </tr>
  <% end %>
</tbody>     
</table>

<br />

<%= link_to 'New Item', new_item_path %>
