.show_item  
  %p#notice= notice
  %p
    %h3= @item.title   

    
  %p
    %strong Описание:
    %br
    .descr= @item.description

  = link_to "<span class='glyphicon glyphicon-circle-arrow-left'></span>".html_safe, items_path, method: :get , class: "btn btn-default btn-lg"
  
  \#{link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_item_path(@item), class: "btn btn-default btn-lg"}
